.header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.new-site-btn {
  margin-left: auto;
}

/* Modal styles */
mat-dialog-content form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;
  padding-top: 8px;
}

mat-form-field {
  width: 100%;
}
