
.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar footer";
  grid-template-columns: 260px 1fr;
  grid-template-rows: 64px 1fr auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  grid-area: header;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.side {
  grid-area: sidebar;
  height: 100%;
  background-color: #d1e9f6;
}

.content {
  grid-area: content;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: var(--bg-secondary);
}


.footer {
  grid-area: footer;
}
