.login-page {
  min-height: 100vh;
  display: flex;
  position: relative;
}
.language-switcher{
  position: absolute;
  top: 20px;
  right: 24px;
}

.remember-me {
  margin-top: -10px;
  margin-bottom: 8px;
  font-size: 13px;
  transform: scale(0.9);
  transform-origin: left center;
}

.login-brand {
  flex: 1;
  background: #7bc3e8;

  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 350px;
    max-width: 70%;
  }
}

.login-form-container {
  flex: 1;
  background: #f7f7f7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  width: 100%;
  max-width: 380px;
}

.login-content h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.register-link {
  text-align: center;
  font-size: 0.85rem;
  color: #777;
  margin-bottom: 2rem;

  a {
    text-decoration: none;
    color: #1da1f2;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 0;
}

mat-form-field {
  width: 100%;
}

.submit-button {
  height: 44px;
  border-radius: 8px;
  margin-top: 0.5rem;
}
